.*
*.*~
*.pyc
*.pyo
*.sublime-project
*.sublime-workspace
*.sw[op]
.project
.pydevproject
.idea/
docs/_build
_*.rst
.pip-freeze
*.egg-info
static
angular-app/node_modules
angular-app/vendor
npm-debug.log
